.bg-grey{
	background-color: #eff0f2;
	border: double black 5px;
}
.monDiv{
	border-color: #1F4788;
	border-style: dashed;
}
#colonneId, #messRecus{
	overflow-y: scroll;
	height: 500px;
	width: 100%;
}
